@{
	ViewData["Title"] = "Contact Page";
}
<h1>@ViewData["Title"]</h1>
<p>If you have any questions, contact us:</p>
<ul>
	<li>Email: @ViewData["Email"]</li>
	<li>Phone: @ViewData["Phone"]</li>
	<li>Message: @ViewData["Message"]</li>
</ul>
