@model FirstWebApp.Models.Course
@{
	ViewData["Title"] = "Course Page";
}
<h1>@ViewData["Title"]</h1>
<p><strong>Course Name:</strong> @Model.CourseName</p>
<p><strong>Instructor:</strong> @Model.Instructor</p>
<p><strong>Credits:</strong> @Model.Credits</p>