@model List<FirstWebApp.Models.Course>

<h1>My Courses List</h1>
<ul>
	@foreach (var course in Model)
	{
		<li>
			<a href="/Home/MyCourseDetails?name=@course.CourseName">
				@course.CourseName
			</a>
		</li>
	}
</ul>
