.quiz-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  margin: 0.1rem;
  margin-bottom: 0.6rem;
  padding: 1rem;
  border-radius: 12px;

  color: white;

  height: 40px;
  width: 100%;
  cursor: pointer;
}

.quiz-card:hover {
  background: rgba(255, 255, 255, 0.06);
  transition: transform 100ms ease, box-shadow 200ms ease, background 100ms ease;
}

.active-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  margin: 0.1rem;
  margin-bottom: 0.6rem;
  padding: 1rem;
  border-radius: 12px;

  color: white;

  height: 40px;
  width: 100%;
  background-color: #10a37f;

  cursor: pointer;
}
h2 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin: 0;
  flex: 1;
  font-size: 18px;
}
.threeDots {
  font-size: 24px;
}
