.quiz-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  margin: 0.1rem;
  margin-bottom: 0.6rem;
  padding: 1rem;
  border-radius: 12px;

  color: white;

  height: 40px;
  width: 100%;
  cursor: pointer;
}

.quiz-card:hover {
  background: rgba(255, 255, 255, 0.06);
  transition: transform 100ms ease, box-shadow 200ms ease, background 100ms ease;
}

.active-card {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  margin: 0.1rem;
  margin-bottom: 0.6rem;
  padding: 1rem;
  border-radius: 12px;

  color: white;

  height: 40px;
  width: 100%;
  background-color: #067e8b5e;
margin-bottom: 1rem;
  cursor: pointer;
}

.active-card::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%) scaleX(0);
  transform-origin: center;
  width: 100%;
  height: 2px;
  background-color: #06d1e75e;
  transition: transform 0.3s ease;
}

/* عند المرور بالماوس */
.active-card:hover::after {
  transform: translateX(-50%) scaleX(1);
}

h2 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin: 0;
  flex: 1;
  font-size: 18px;
}
.threeDots {
  font-size: 24px;
}
